version: "3"
services:
  go_openapi:
    build: ./go
    command: sh -c "cd go && make"
    volumes:
      - .:/api

  python:
    build: ./python
    command: sh -c "cd python && make"
    volumes:
      - .:/api

  dart:
    build: ./dart
    command: sh -c "cd dart && make"
    volumes:
      - .:/api

  ruby:
    build: ./ruby
    command: sh -c "cd ruby && make"
    volumes:
      - .:/api

  cpp:
    build: ./cpp
    command: sh -c "cd cpp && make"
    volumes:
      - .:/api

  php:
    build: ./php
    command: sh -c "cd php && make"
    volumes:
      - .:/api
